*{
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", Helvetica, sans-serif;
}

.header-bg{
    background: rgb(30,144,255);
    background: linear-gradient(180deg, rgba(30,144,255,1) 58%, rgba(68,163,255,1) 79%, rgba(150,203,255,1) 100%);
}

.run-btn{
    background-color: white;
    border-radius: 15px;
    transition: .3s;
}

.run-btn:hover{
    background-color:   #e2e2e2;
}

.run-btn:active{
    transform: scale(0.95);
}



.left-col{
    border-right: 2px solid black;
    z-index: 3;
    -webkit-box-shadow: 6px 1px 8px 0px rgba(0,0,0,0.48); 
    box-shadow: 6px 1px 8px 0px rgba(0,0,0,0.48);
    width: 40%;
}


.editor-holder{
    -webkit-box-shadow: -1px -2px 11px 0px rgba(0,0,0,0.6); 
    box-shadow: -1px -2px 11px 0px rgba(0,0,0,0.6);
}


.tab-content{
    height: 75vh;
    /* used animation defined below in .35 seconds */
    animation: fadeIn .35s;
}

/* creating keyframe animation going from invisible to visible */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


.tab-holder{
    background-color: lightblue;
}


.tab{
    padding: 1rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.tab:hover{
    background-color: #23a5e5;
}

.currActive{
    background-color: #1d8ec5;
}

.preview-holder{
    width: 60%;
}

.preview{
    border: none;
    height: 100%;
    width: 100%;
}

/* media queries */

@media only screen and (max-width: 1350px) {
    .left-col{
        width: 50% !important;
    }

    .preview-holder{
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .left-col{
        width: 100% !important;
    }

    .tab-content{
        height: 50vh;
    }

    .preview-holder{
        width: 100%;
    }

    .preview{
        min-height: 70vh;
    }
}

@media only screen and (max-width: 550px) {

}